body {
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.5;
 background-color:#e6e6e6;
}

#container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
}

#header {
  text-align: center;
  margin-bottom: 20px;
}

#content {
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

.list-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.list-container {
	height:100%;
	background-color:white;
	border-radius: 5px;
	text-align:center;
	width: 30%;
	float:left; 
	box-sizing: border-box;
	margin-left:1.66%;
	margin-right:1.66%;
	padding: 20px 20px 20px 20px;
}

.list {
	list-style-type:none;
	margin-top:10px;
	padding:0;
}

.list-item {
  height:120px;
  width: 100%;
  background-color:white;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 2px 2px 2px;
 /* overflow: auto;*/
}

.taskName {
	margin-left: auto;
	margin-right: auto;
	width:90%;
	height:65%;
}

.modal {
  background:white;
  display: none; 
  position: absolute; 
  width: 20%;
  left: 30%;
  height: 180px; 
  overflow: auto;
  padding:5px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
}

.close {
  float:right;
  line-height: 1;
}

#newTask {
	width:100%;
	float:center;
	height:70%;
    line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	resize: none;
	padding: 5px 5px; 
    margin: 0px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}

.addButton {
  width: 100%;
  background: #6bc308;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  float:center;
  padding:5px;
  border: 0px;
  margin: 0px 0;
}

.circle {
	float:right;
    border: 1px solid #aaa;
    box-shadow: inset 1px 1px 3px #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    margin: 10px;
    display: inline-block;
}

.circle:before,
.circle:after{
    content:'';position:absolute;top:0;left:0;right:0;bottom:0;
}
.circle.plus:before,
.circle.plus:after {
    background:#aaa;
    box-shadow: 1px 1px 1px #ffffff9e;
}
.circle.plus:before{
    width: 2px;
    margin: 4px auto;
}
.circle.plus:after{
    margin: auto 4px;
    height: 2px;
    box-shadow: none;
}

.progressState {
	float:left;
	width:40px;
}

.changeState {
	float:right;
	width:25px;
}

.removeItem {
	float:right;
}

hr {
	width:100%;
	border:1px solid;
}

.red {
	color:red;
	border-color:red;
}

.blue {
	color:blue;
	border-color:blue;
}

.green {
	color:green;
	border-color:green;
}
